
<!DOCTYPE html>
<meta charset="utf-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/inicioEstilo.css">
<html>
<head>
    <nav class="navbar navbar-dark fixed-top" style="background-color: #078FC9;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="background-color: #078FC9;">Monitoreo de Estado de Servicios de Transporte Publico y de Establecimientos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" style="background-color: #078FC9;">
                <div class="offcanvas-header" style="background-color: #078FC9;">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu principal</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" style="background-color: #078FC9;"></button>
                </div>
                <div class="offcanvas-body" style="background-color: #078FC9;">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/inicio">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/perfil">Mi perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/mis-comunidades">Mis comunidades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/usuarios">Administrar usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="id-link-logout" href="/" onclick="cerrarSesion()">Cerrar sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <style>
        .resumen-container {
            display: flex;
            justify-content: space-between;
            background-color: #EAF5FF;
            color: black;
            padding: 10px;
            margin-bottom: 10px;
        }

        .resumen-item {
            width: 48%;
            text-align: center;
        }

        .boton-atras {
            position: fixed;
            bottom: 10px; /* Ajusta la distancia desde la parte inferior según sea necesario */
            left: 10px; /* Ajusta la distancia desde la izquierda según sea necesario */
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>

</head>
<br>
<br>
<br>
<br>
<h1>Cierre de incidentes</h1>
<br>
<br>
<div class="resumen-container">
    <div class="resumen-item">
        <h8> Comunidad seleccionada - {{comunidad.getNombre}} </h8>
    </div>
    <br>
    <div class="resumen-item">
        <h9> Establecimiento seleccionado - {{establecimiento.getNombre}} </h9>
    </div>
</div>
<br>
<form id="formulario-incidentes" method="post" action="/incidentes/cerrar/finalizar">
    <div class="row">
        <div class="col-md-7">
            <!-- Contenido de la columna izquierda -->
            <div class="col-md-7">
                <h4>Seleccione un incidente</h4>
                <label for="incidente" class="form-label"></label>
                <select id="incidente" class="form-select" name="incidente">
                    <option>Seleccione un incidente</option>
                    {{#each incidentes}}
                        <option value="{{this.id}}" data-readable="{{this.getServicio.getNombre}} - {{this.getDescripcion}} - {{this.formatDate}}">
                            <div class="texto-incidentes">{{this.getServicio.getNombre}}</div> {{this.getDescripcion}} {{this.formatDate}}
                        </option>
                    {{/each}}
                </select>
            </div>

        <br>
        <br>
        <div class="col-md-7">
            <h4>Complete una descripción</h4>
            <input type="text" class="form-control" placeholder="Complete una descripción" id="descripcion" name="descripcion">
        </div>
        </div>
    </div>
    <br>
    <br>
    <div class="carga-archivo">
        <div class="d-flex justify-content-center align-items-right">
            <div class="boton-unirme">
                <button type="button" class="btn btn-primary btn-block" id="boton-apertura-incidente">CONFIRMAR</button>
            </div>
        </div>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script>
    const loginLinkButton = document.getElementById('boton-apertura-incidente')
    loginLinkButton.addEventListener('click', () => { //evento -> click
        var incidente = document.getElementById("incidente").value;
        var descripcion = document.getElementById("descripcion").value;
        // Verificar si los campos están completos
        if (incidente.trim() === "" || incidente === "Seleccione un incidente" || descripcion.trim() === "") {
            alert("Por favor, complete todos los datos.");
        } else {
            document.getElementById("formulario-incidentes").submit();
            alert("Incidente cerrado con éxito.");
        }
    })

    function cerrarSesion(){
        fetch('/usuario/cerrarSesion',{method:'POST'}).
        then(function(response){
            if(response.ok){
                console.log("Sesion cerrada");
            }
            else{
                throw "Error en llamada Ajax";
            }
        }); }
</script>

<div class = "boton-atras" id = "div-atras-id">
    <a href="/incidentes/cerrar">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="rgb(7,143,201)" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
        </svg>
    </a>
</div>

</body>
</html>